<script src=//code.jquery.com/jquery-3.2.1.min.js></script>
<script src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js></script>
<input id=MOD_CODE value=SET08108><button id='go'>Go</button>
<canvas id="myChart" width="300" height="300"></canvas>
<script>
$(function(){
  $('#go').click(function(){
    $.ajax({url:'output.php',data:{MOD_CODE:$('#MOD_CODE').val()},dataType:'json',success:function(d){
      var data = {labels:[],datasets:[{label:$('#MOD_CODE').val()+' results',data:[],}]};
      for(var i=0;i<d.length;i++){
        data.labels.push(d[i][0]);
        data.datasets[0].data.push(parseFloat(d[i][1]));
      }
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
       type:'radar',
       data:data,
       options:{
         responsive:false,
         scale:{ticks:{beginAtZero:true}}}});
    }});
  })
});
</script>

